body {
	background-color: #394957;
	font-weight: 500;
	font-size: 1em;
	color: #eee;
}

#login-container {
  	width: 400px;
    height: 240px;
    background-color: #5f5f5f;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #333;
    box-shadow: 2px 2px 1px #444;
}

h1 {
	font-size: 1.4em;
}

input {
	margin: 10px;
	padding: 5px;
}

.btn {
	background-color: #008CBA;
    border: none;
    color: #eee;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1em;
    border-radius: 4px;
}

.btn:hover {
    background-color: #eee;
    color: #008CBA;
    cursor: pointer;
    box-shadow: 2px 2px 1px #444;
}